
<header>
    <!-- top Header -->
    <div id="top-header">
        <div class="container">
            <div class="pull-left">
                <span>Welcome to E-shop!</span>
            </div>
            <div class="pull-right">
            
                @*<ul class="header-top-links">
            <li><a href="#">Store</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">FAQ</a></li>

            <li class="dropdown default-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a>
                    <ul class="custom-menu">
                        <li><a href="#">English (ENG)</a></li>
                        <li><a href="#">Russian (Ru)</a></li>
                        <li><a href="#">French (FR)</a></li>
                        <li><a href="#">Spanish (Es)</a></li>
                    </ul>
                </li>
            <li class="dropdown default-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>
                <ul class="custom-menu">
                    <li><a href="#">USD ($)</a></li>
                    <li><a href="#">EUR (€)</a></li>
                </ul>
            </li>
        </ul>*@
            </div>
        </div>
    </div>
    <!-- /top Header -->
    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="#">
                        <img src="@Url.Content("~/resources/img/logo.png")" alt="">
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Search -->
                <div class="header-search">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                    {

                        //      @Html.DropDownList("cart_name", new SelectList(Model.Categoris, "Name", "Name"), "Select Category", new {  @class="input search-categories" })
                        <hr class="hidden-md hidden-lg">



                        <input name="product_name" class="input search-input" type="text" placeholder="Enter your keyword"></input>
                        <button class="search-btn">
                            <i class="fa fa-search"></i>
                        </button>

                    }

                </div>
                <!-- /Search -->
            </div>
            <div class="pull-right">
                <ul class="header-btns">
                    <!-- Account -->
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    @*<li class="header-account dropdown default-dropdown">
            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                <div class="header-btns-icon">
                    <i class="fa fa-user-o"></i>
                </div>
                <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
            </div>
            <a href="#" class="text-uppercase">Login</a> / <a href="#" class="text-uppercase">Join</a>
            <ul class="custom-menu">


                <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                <li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
                <li><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>
                <li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>
                <li><a href="#"><i class="fa fa-unlock-alt"></i> Login</a></li>
                <li><a href="#"><i class="fa fa-user-plus"></i> Create An Account</a></li>
            </ul>
        </li>*@
                    <!-- /Account -->
                    <!-- Cart -->
                    @*</div>
        @*</li>*@
                    <!-- /Cart -->
                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>

            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>
<!-- /HEADER -->
<!-- NAVIGATION -->
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav show-on-click">
                <span class="category-header"><a href="~/Categories/Index">Categories</a> <i class="fa fa-list"></i></span>
                



            </div>

        </div>


        <!-- /category nav -->
        <!-- menu nav -->
        <div class="menu-nav">
            <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
            <ul class="menu-list">
                <li><a href="~/">Home</a></li>
                <li><a href="~/Products/Index">Shop</a></li>
                <li><a href="~/Categories/Show/1">Men</a></li>
                <li><a href="~/Categories/Show/2">Women</a></li>
            </ul>

            </ul>
        </div>
        <!-- menu nav -->
    </div>
</div>
<!-- /container -->
</div>
<!-- /NAVIGATION -->
